// =========================
// EXTERNAL CONFIG INCLUDE
// =========================

include "./autostart.kdl"
include "./windowrule.kdl"
include "./keybinds.kdl"
include "./visual.kdl"

// =========================
// WORKSPACES CONFIGURATION
// =========================

    workspace "a" {
        open-on-output "HDMI-A-1"
    }

    workspace "b" {
        open-on-output "HDMI-A-1"
    }

    workspace "c" {
        open-on-output "HDMI-A-1"
    }

    workspace "d" {
        open-on-output "HDMI-A-1"
    }

    workspace "e" {
        open-on-output "HDMI-A-1"
    }

    workspace "f" {
        open-on-output "HDMI-A-1"
    }

    workspace "g" {
        open-on-output "HDMI-A-1"
    }

    workspace "h" {
        open-on-output "HDMI-A-1"
    }

    workspace "i" {
        open-on-output "HDMI-A-1"
    }

    workspace "j" {
        open-on-output "eDP-1"
    }

// =========================
// OUTPUT / MONITOR SETTINGS
// =========================

output "eDP-1" {
    mode "1920x1080@144"
    hot-corners {
        off
    }
}
output "HDMI-A-1" {
    mode "1920x1080@119.879"
    scale 1
    hot-corners {
        off
    }
}
// =========================
// SCREENSHOT SETTINGS
// =========================

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png" 
// defines screenshot save location and filename format

// =========================
// DEBUG SETTINGS
// =========================

debug {
    honor-xdg-activation-with-invalid-serial 
    // allows external apps (like Noctalia) to activate windows
}



include "./noctalia.kdl"

