layout {

    focus-ring {
        active-color   "#9b8bc1"
        inactive-color "#15131b"
        urgent-color   "#b87a87"
    }

    border {
        active-color   "#9b8bc1"
        inactive-color "#15131b"
        urgent-color   "#b87a87"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9b8bc1"
        inactive-color "#3f2a70"
        urgent-color   "#b87a87"
    }

    insert-hint {
        color "#9b8bc180"
    }
}

recent-windows {
    highlight {
        active-color "#9b8bc1"
        urgent-color "#b87a87"
    }
}
