* {
  bg: #141314;
  bg-alt: #211f20;
  fg: #e6e1e2;
  accent: #cfc3cd;
  accent-fg: #352e36;
  border: #4a454a;
}

window {
  background-color: @bg;
  text-color: @fg;
  border: 1px;
  border-color: @border;
  border-radius: 0px;
  padding: 0px;
}

mainbox {
  background-color: transparent;
  spacing: 5px;
}

inputbar {
  background-color: @bg-alt;
  text-color: @fg;
  border-radius: 0px;
  padding: 0px 0px;
  spacing: 5px;
}

prompt, entry {
  background-color: transparent;
  text-color: @fg;
}

listview {
  background-color: transparent;
  spacing: 0px;
  lines: 5;
}

element {
  background-color: transparent;
  text-color: @fg;
  border-radius: 0px;
  padding: 0px 0px;
}

element selected {
  background-color: @accent;
  text-color: @accent-fg;
}

element-text, element-icon {
  background-color: transparent;
  text-color: inherit;
}

message {
  background-color: @bg-alt;
  text-color: @fg;
  border-radius: 0px;
  padding: 0px;
}